<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!--车速-->
    <uses-permission android:name="android.car.permission.CAR_SPEED" />
    <uses-permission android:name="android.car.permission.CAR_INFO" />
    <!--传感器权限-->
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.BODY_SENSORS_BACKGROUND" />
    <!--使用TextToSpeech所需权限，待系统tts包集成后再决定是否删除-->
    <uses-permission android:name="android.permission.ACCESSIBILITY_SERVICE" />
    <!--媒体投影权限-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_ROUTING"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="gm.permission.RECEIVE_KEY_EVENT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.patac.sgmsystemextendservice.permission.MANAGER_SERVICE"/>
    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
        <package android:name="com.patac.hmi.settings" />
    </queries>

    <application
        android:name="com.fy.navi.NaviApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:extractNativeLibs="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="${logo}"
        android:label="${appName}"
        android:roundIcon="${roundLogo}"
        android:supportsRtl="true"
        android:theme="@style/Theme.NaviApp"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true"
        tools:replace="android:label">
        <activity
            android:name=".cluster.cluster_map.ClusterActivity"
            android:exported="true"
            android:configChanges="uiMode"
            android:screenOrientation="landscape"
            android:taskAffinity=""
            android:launchMode="singleInstance"
            android:theme="@style/ClusterTheme"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="com.fy.navi.hmi.cluster_map.ClusterActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".hud.HudActivity"
            android:configChanges="uiMode"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:taskAffinity="">
            <intent-filter>
                <action android:name="com.fy.navi.hmi.hud.HudActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <meta-data
            android:name="CAR_TYPE"
            android:value="${CAR_TYPE_VALUE}" />

        <activity
            android:name=".startup.StartupActivity"
            android:configChanges="uiMode|mcc|mnc|keyboardHidden|keyboard|fontScale|screenLayout|screenSize|smallestScreenSize|locale|colorMode|layoutDirection"
            android:exported="true"
            android:launchMode="singleTop"
            android:resizeableActivity="true"
            android:screenOrientation="landscape"
            tools:ignore="DiscouragedApi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".map.MapActivity"
            android:configChanges="uiMode|mcc|mnc|keyboardHidden|keyboard|fontScale|screenLayout|screenSize|smallestScreenSize|locale|colorMode|layoutDirection"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:resizeableActivity="true"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="DiscouragedApi" />
        <activity
            android:name=".launcher.MapLauncherDeskActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            tools:ignore="DiscouragedApi" />
        <activity
            android:name=".launcher.MapLauncherSmallCardActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            tools:ignore="DiscouragedApi" />

        <activity android:name=".splitscreen.OneThirdScreenMapActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:configChanges="uiMode|mcc|mnc|keyboardHidden|keyboard|fontScale|screenLayout|screenSize|smallestScreenSize|locale|colorMode|layoutDirection"
            tools:ignore="DiscouragedApi" />

        <service
            android:name="com.fy.navi.exportservice.MapService"
            android:defaultToDeviceProtectedStorage="true"
            android:exported="true"
            android:foregroundServiceType="specialUse" />
        <service
            android:name="com.fy.navi.NaviService"
            android:defaultToDeviceProtectedStorage="true"
            android:exported="true"
            android:foregroundServiceType="shortService" />

        <receiver
            android:name="com.fy.navi.broadcast.NaviMfcHardKeyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="gm.intent.ACTION_BROADCAST_KEY_MFC_NAVIGATION"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.fy.navi.broadcast.BootCompletedReceiver"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!--对接Settings隐私协议-->
        <meta-data
            android:name="com.fy.navi.hmi"
            android:value="local" />
    </application>

</manifest>